body{
  background-color: rgb(48, 69, 44);
  color: rgb(235, 184, 126);
}
.category-heading
{
  font-size: 48px;
  font-family: 'Festive', cursive;
}

.category-subheading
{
  font-family: 'Abril Fatface', cursive;
}

.menu-label
{
  position: relative;
}

.price
{
  font-weight: bold;
  position: absolute;
  right: 10%;
}

.order-online
{
  font-size: 32px;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(235, 184, 126);
}

.nav-link
{
  color: rgb(235, 184, 126);
}